.search_container {
  margin-top: 15px;
  height: 30px;
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 30px;
  gap: 5px;
  font-size: 15px;
}

.search_icon {
  cursor: pointer;
}

@media (max-width: 600px) {
  .search_container {
    width: 590px;
    margin: 0 auto;
    margin-top: 15px;
  }
}

@media (max-width: 425px) {
  .search_container {
    width: 415px;
    margin: 0 auto;
    margin-top: 15px;
  }
}

@media (max-width: 360px) {
  .search_container {
    width: 350px;
    margin: 0 auto;
    margin-top: 15px;
  }
}