.card {
	width: 100%;
	background: #fff;
	border-radius: 15px;
	overflow: hidden;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.image_wrapper {
	width: 100%;
	height: 180px;
	position: relative;
	flex-shrink: 0;
}

.product_image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.info {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 6px;
	flex: 1;
}

.price_wrapper {
	display: flex;
	gap: 5px;
	align-items: baseline;
}

.price {
	font-weight: 700;
	color: #000;
	font-size: 12px;
}

.old_price_wrapper {
	display: flex;
	gap: 4px;
	align-items: baseline;
}

.old_price {
	text-decoration: line-through;
	color: #999;
	font-size: 12px;
}

.discount {
	font-size: 12px;
	color: #ff4d4f;
	font-weight: 600;
}

.name {
	font-size: 14px;
	font-weight: 500;
	color: #333;
	line-height: 1.2;
	flex-shrink: 0;
}

.select_btn {
	margin-top: auto;
	width: 100%;
	padding: 8px 0;
	border: none;
	border-radius: 20px;
	background-color: #f1f1f1;
	color: #292928;
	font-weight: 400;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	transition: color, background-color 0.3s ease-in-out;
}

.select_btn:hover {
	background-color: #717171;
	color: #fff;
}


@media (max-width: 600px) {
	.image_wrapper {
		height: 193px;
	}
	.name {
		font-size: 15px;
	}
	.select_btn {
		font-size: 13px;
		padding: 7px 0;
		border-radius: 20px;
	}
}

@media (max-width: 425px) {
	.image_wrapper {
		height: 205px;
	}
	.name {
		font-size: 14px;
	}
	.select_btn {
		font-size: 12px;
		padding: 6px 0;
		border-radius: 20px;
	}
}

@media (max-width: 360px) {
	.image_wrapper {
		height: 173px;
	}
	.name {
		font-size: 13px;
	}
	.select_btn {
		font-size: 11px;
		padding: 5px 0;
		border-radius: 20px;
	}
}
