.menu_bar_container {
  width: 98%;
  position: sticky;
  bottom: 15px;
  margin: 0 auto;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(108, 108, 108, 0.1);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 999;
  margin-top: 20px;
}

.menu_list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.menu_list img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .menu_bar_container {
    width: 90%;
  }
}

@media (max-width: 425px) {
  .menu_bar_container {
    width: 95%;
  }
}

@media (max-width: 360px) {
  .menu_bar_container {
    width: 98%;
  }
}